<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include mathjax.html %}
    {% seo %}
    {% if page.image %}
      <meta content="{{ page.image | absolute_url }}" property="og:image" />
    {% else %}
      <meta content="{{ site.image | absolute_url }}" property="og:image" />
    {% endif %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
    <script id="dsq-count-scr" src="https://inmay-1.disqus.com/count.js" async></script>
  </body>

</html>
